---
const { frontmatter, url } = Astro.props;
---
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{frontmatter.title}</title>
        <link rel="stylesheet" href="https://latex.now.sh/style.css">
        <link rel="stylesheet" href="/cortex/style.css">
        <link href="/cortex/favicon.ico" rel="icon">
    </head>
    <body class="libertinus">
        <header>
            <h1 id="home">{frontmatter.title}</h1>
            <p class="author">
                <a href="/cortex/">Home</a><br>
                Author: <a href="https://github.com/avolent">{frontmatter.author}</a><br>
                Updated on: {frontmatter.date} <br>
                {url} <br>
                <button id="dark-mode-toggle">Dark mode</button>
            </p>
        </header>
        <main>
            <article>
                <slot />
            </article>
        </main>
        <div class="footnotes">
            <p id="fn1">
            CSS is from <a href="https://latex.vercel.app/">Latex.css</a> | Wiki built by <a href="https://avolent.io/">avolent.io</a>
            </p>
            <p id="fn2" style="text-align: right">
            Return to top <a href="#home">↩</a>
            </p>
        </div>
        <script type="text/javascript">
            const darkModeToggle = document.getElementById('dark-mode-toggle')
            if (localStorage.getItem('darkMode') === 'true') {
                document.body.classList.toggle('latex-dark')
            }
            darkModeToggle.addEventListener('click', () => {
                document.body.classList.toggle('latex-dark')
                if (localStorage.getItem('darkMode') === 'true') {
                    localStorage.setItem('darkMode','false');
                } else {
                    localStorage.setItem('darkMode','true');
                }
            })
        </script>
    </body>
</html>